<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Metamask Connect Button</title>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Background color */
  }
  #connectMeta {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #connectMeta:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
</style>
</head>
<body>

<form action="/account" method="post">
  <input type="text" name="name" id="name" placeholder="enter name">
  <input type="button" id="connectMeta" onclick="connectMetaMask()" value="Meta Mask Connect">
  <input type="hidden" id="wallet" name="wallet" value="">
  <input type="submit">
</form>
<br>
<p id="accountspace"></p>

<script>
    let account;
    const connectMetaMask = async () => {
        if(window.ethereum !== "undefined") {
            const accounts = await ethereum.request({method: "eth_requestAccounts"});
            account=accounts[0];
            document.getElementById("accountspace").innerHTML = account;
            document.getElementById("wallet").value = account;
        }
    }
</script>
</body>
</html>