<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteUp!</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1>Poll 1</h1>
    <form action="/voting" method="POST">
        <input type="radio" name="vote" value="yes"> Option 1<br>
        <input type="radio" name="vote" value="no"> Option 2<br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>