<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votings</title>
</head>
<body>
    <h1>Yes Votes -> <%= yes_votes %></h1>
    <h1>No Votes -> <%= no_votes %></h1>
</body>
</html>